section {
  padding: 6em 2em 2em 2em;
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

.line {
  margin: 0.2em 0;
  width: 50%;
  height: 8px;
  background-color: #396d7c;
}

button {
  position: relative;
  width: 100%;
  padding: 0.4em 1em;
  background: none;
  background-color: #86cecb;
  border-radius: 0.4em;
  border: 0.04em solid #396d7c;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
button a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
button a:hover {
  color: #ffffff;
}
button::before {
  position: absolute;
  content: "";
  width: 120%;
  height: 130%;
  background-color: #396d7c;
  border-radius: 0.4em;
  z-index: -1;
  -webkit-transform: translate(-150%, -25%);
          transform: translate(-150%, -25%);
  -webkit-filter: blur(0.2em);
          filter: blur(0.2em);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
button:hover::before {
  -webkit-transform: translate(-20%, -25%);
          transform: translate(-20%, -25%);
}
button::after {
  position: absolute;
  content: "";
  width: 120%;
  height: 130%;
  background-color: #396d7c;
  border-radius: 0.4em;
  z-index: -1;
  -webkit-transform: translate(50%, -25%);
          transform: translate(50%, -25%);
  -webkit-filter: blur(0.2em);
          filter: blur(0.2em);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
button:hover::after {
  -webkit-transform: translate(-80%, -25%);
          transform: translate(-80%, -25%);
}
button:hover {
  color: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #ffffff;
  --color-whiteBlend: rgba(255, 255, 255, 0.7);
  --color-lightone: #dcf3ff;
  --color-lighttwo: #baf2ef;
  --color-lightthree: #a2d2df;
  --color-lightfour: #86cecb;
  --color-lightfourBlend: rgba(134, 206, 202, 0.7);
  --color-mediumone: #396d7c;
  --color-mediumtwo: #137a7f;
  --color-mediumthree: #257ca3;
  --color-darkone: #373b3e;
  --color-dark: #000000;
  --color-other: #9d1c5d;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
}
nav .navcontact {
  display: none;
}
nav .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0em 3em;
  background-color: var(--color-white);
  border-bottom: 0.04em solid var(--color-darkone);
}
nav .wrapper .logo {
  width: 50%;
  height: 50%;
  margin: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .wrapper .logo a img {
  width: 30%;
  height: 30%;
}
nav .wrapper .navbar {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8em 0em 12em 0em;
  top: 60px;
  left: 0;
  background-color: var(--color-white);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
nav .wrapper .navbar__link {
  position: relative;
  color: var(--color-darkone);
  font-size: 3rem;
  text-decoration: none;
  padding-bottom: 0.2em;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .wrapper .navbar__link::before {
  position: absolute;
  content: "";
  border-bottom: 0.08em solid var(--color-mediumtwo);
  width: 0%;
  bottom: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
nav .wrapper .navbar__link:hover::before {
  width: 100%;
}
nav .wrapper .navbar__link:hover {
  color: var(--color-mediumtwo);
}
nav .wrapper .actionnav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
nav .wrapper .burger {
  font-size: 3rem;
  padding: 0.4em;
  color: var(--color-mediumtwo);
  cursor: pointer;
}
nav .wrapper .burger .hide {
  display: none;
}

.sectionhome {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.sectionhome .info {
  padding: 1em;
  width: 100%;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out, -webkit-transform 1s;
  transition: opacity 2s ease-in-out, -webkit-transform 1s;
  transition: transform 1s, opacity 2s ease-in-out;
  transition: transform 1s, opacity 2s ease-in-out, -webkit-transform 1s;
}
.sectionhome .info__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sectionhome .info__heading .pink {
  color: var(--color-other);
}
.sectionhome .info__text p {
  margin-top: 1em;
}
.sectionhome .actioninfo {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.sectionhome .image {
  position: relative;
  width: 100%;
}
.sectionhome .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectionhome .image__info {
  position: absolute;
  padding: 0.6em;
  right: 5%;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: var(--color-whiteBlend);
}
.sectionhome .image__info .logo {
  width: 30%;
}

.sectionaboutus {
  height: 100vh;
  padding: 4em 2em 2em 2em;
  background-image: url("../img/hospital_buoldig.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 275%;
  background-position: 0% 70%;
  background-attachment: fixed;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionaboutus .infomobile {
  padding: 3em 2em 2em 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sectionaboutus .infomobile .infocount {
  width: 30%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
  margin-bottom: 8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 2em;
  background-color: var(--color-lightfourBlend);
  -webkit-box-shadow: 0.4em 0.4em 0em var(--color-lightfour);
          box-shadow: 0.4em 0.4em 0em var(--color-lightfour);
}
.sectionaboutus .infomobile .infocount i {
  font-size: 2.8rem;
}
.sectionaboutus .infomobile .infocount__count {
  font-size: 4rem;
  font-weight: 400;
  color: var(--color-mediumtwo);
}
.sectionaboutus .infomobile .infocount h3 {
  font-size: 1.8rem;
}
.sectionaboutus .box {
  padding: 2em;
  margin-bottom: 2em;
  width: 100%;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.sectionaboutus .box__info {
  padding: 1em;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-lightfourBlend);
  border-top-left-radius: 2em;
  -webkit-box-shadow: 0.4em 0.4em 0em var(--color-lightfour);
          box-shadow: 0.4em 0.4em 0em var(--color-lightfour);
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.8s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.8s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.sectionaboutus .box__info--heading {
  font-weight: 100;
  font-size: 3.6rem;
}
.sectionaboutus .box .actionaboutus {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.sectionaboutus .box__img {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sectionaboutus .box__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.04em solid var(--color-mediumone);
  -webkit-box-shadow: 0.2em 0.2em 0em var(--color-mediumone);
          box-shadow: 0.2em 0.2em 0em var(--color-mediumone);
}

.galleryclinic {
  padding: 0;
  overflow: hidden;
  height: 100vh;
}
.galleryclinic .swiper {
  width: 100%;
  height: 100%;
}
.galleryclinic .swiper .swipperobject {
  position: relative;
  width: 100%;
  height: 100%;
}
.galleryclinic .swiper .swipperobject .obj {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.galleryclinic .swiper .swipperobject .obj img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.galleryclinic .swiper .swipperobject .obj .slidertext {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 10%;
  left: 5%;
  width: 90%;
  height: 15%;
  padding: 1em;
  background-color: var(--color-lightfourBlend);
  border-top-left-radius: 2em;
  -webkit-box-shadow: 0.4em 0.4em 0em var(--color-lightfour);
          box-shadow: 0.4em 0.4em 0em var(--color-lightfour);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.galleryclinic .swiper .swipperobject .obj .slidertext h1 {
  font-weight: 100;
  font-size: 2.4rem;
}
.galleryclinic .swiper .swipperobject .obj .actionslider {
  opacity: 1;
}

.sectionoffer {
  height: 100vh;
}
.sectionoffer .boxheading {
  width: 100%;
  height: 10%;
  margin-bottom: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.sectionoffer .boxheading__heading {
  font-size: 3.8rem;
  text-align: right;
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
  opacity: 0;
  -webkit-transition: opacity 1.2s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 1.2s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 1.2s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 1.2s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.sectionoffer .boxheading .line {
  width: 100%;
}
.sectionoffer .boxheading .viewboxheading {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.sectionoffer .accordionbox {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sectionoffer .accordionbox .accordion {
  margin-bottom: 0.4em;
}
.sectionoffer .accordionbox .accordion .accordionhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4em;
  border: 0.04em solid var(--color-mediumone);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.sectionoffer .accordionbox .accordion .accordionhead__heading {
  font-size: 2rem;
  font-weight: 400;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.sectionoffer .accordionbox .accordion .accordionhead .accordionarrow {
  font-size: 2rem;
  color: var(--color-mediumone);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.sectionoffer .accordionbox .accordion .accordioninfo {
  display: none;
  margin: 0.4em 0em 1em 0em;
}
.sectionoffer .accordionbox .accordion .accordioninfo__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.1em 0;
  border-bottom: 0.1em dotted var(--color-darkone);
}
.sectionoffer .accordionbox .accordion .accordioninfo__offer--price {
  color: var(--color-mediumone);
  font-weight: bold;
}
.sectionoffer .accordionbox .accordion .actioninfo {
  display: block;
}
.sectionoffer .accordionbox .accordion .actionbtn {
  background-color: var(--color-mediumone);
}
.sectionoffer .accordionbox .accordion .actionbtn .accordionhead__heading {
  color: var(--color-white);
}
.sectionoffer .accordionbox .accordion .actionbtn .accordionarrow {
  color: var(--color-white);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sectionoffer .infooffer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25%;
}
.sectionoffer .infooffer__img {
  height: 60%;
  margin-bottom: 0.4em;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 1.2s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 1.2s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 1.2s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 1.2s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.sectionoffer .infooffer__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectionoffer .infooffer .actioninfooffer {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.sectionoffer .infooffer__text {
  text-align: center;
}

.sectionteams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionteams .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}
.sectionteams .heading h1 {
  font-size: 3.8rem;
  text-align: left;
}
.sectionteams .heading .line {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.sectionteams .teams {
  width: 80%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.sectionteams .teams__img {
  height: 80%;
  margin-bottom: 0.4em;
}
.sectionteams .teams__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectionteams .teams__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0em;
  width: 85%;
}
.sectionteams .teams__info i {
  position: absolute;
  top: -12%;
  left: 0;
  font-size: 14rem;
  color: var(--color-mediumone);
}
.sectionteams .teams__info p {
  width: 60%;
  margin-left: 10em;
}
.sectionteams .teams__info--text {
  font-style: italic;
  margin-bottom: 0.4em;
}
.sectionteams .teams__info .signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: end;
  margin-bottom: 0.8em;
}
.sectionteams .teams .btnteams {
  -ms-flex-item-align: center;
      align-self: center;
}
.sectionteams .teamsscale {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (max-width: 576px) {
  nav .wrapper {
    padding: 0em 1em;
  }
  nav .wrapper .logo {
    width: 50%;
    height: 50%;
  }
  nav .wrapper .logo a img {
    width: 50%;
    height: 50%;
  }
  nav .wrapper .navbar {
    padding: 4em 0em 8em 0em;
  }
  nav .wrapper .navbar__link {
    padding-bottom: 0.8em;
    font-size: 2.4rem;
  }
  .sectionhome {
    padding: 4em 2em 2em 2em;
    height: 100vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sectionhome .info {
    padding: 0.2em;
    height: 40%;
  }
  .sectionhome .image {
    height: 40%;
  }
  .sectionhome .image img {
    width: 100%;
    height: 100%;
    -o-object-position: top;
       object-position: top;
  }
  .sectionhome .image__info h1 {
    font-size: 2rem;
  }
  .sectionaboutus {
    padding: 1.2em;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .sectionaboutus .infomobile {
    padding: 0;
    height: 50%;
  }
  .sectionaboutus .infomobile .infocount {
    height: 45%;
    padding: 1em;
    margin-bottom: 0;
  }
  .sectionaboutus .infomobile .infocount i {
    font-size: 1.8rem;
  }
  .sectionaboutus .infomobile .infocount__count {
    font-size: 2.8rem;
  }
  .sectionaboutus .infomobile .infocount h3 {
    text-align: center;
    font-size: 1.4rem;
  }
  .sectionaboutus .box {
    padding: 0;
    margin-bottom: 0;
    height: 65%;
    width: 100%;
  }
  .sectionaboutus .box__info {
    padding: 0.8em;
    width: 47%;
    height: 75%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .sectionaboutus .box__info--heading {
    font-size: 2.4rem;
  }
  .sectionaboutus .box__info--text {
    font-size: 1.4rem;
  }
  .sectionaboutus .box__img {
    width: 47%;
    height: 42%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .sectionaboutus .box__img .btnabout {
    width: 100%;
    font-size: 1.2rem;
  }
  .galleryclinic .swiper .swipperobject .obj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .galleryclinic .swiper .swipperobject .obj img {
    height: 60vh;
  }
  .galleryclinic .swiper .swipperobject .obj .slidertext {
    position: relative;
    height: 30%;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sectionoffer {
    padding: 5em 2em 1em 2em;
  }
  .sectionoffer .boxheading__heading {
    font-size: 2.2rem;
  }
  .sectionoffer .accordionbox {
    height: 65%;
  }
  .sectionoffer .infooffer {
    height: 15%;
  }
  .sectionteams .heading {
    margin-bottom: 1.2em;
  }
  .sectionteams .heading h1 {
    font-size: 2.2rem;
  }
  .sectionteams .teams {
    width: 100%;
    height: 60%;
  }
  .sectionteams .teams__img {
    height: 70%;
  }
  .sectionteams .teams__info {
    width: 100%;
  }
  .sectionteams .teams__info i {
    font-size: 8rem;
  }
  .sectionteams .teams__info p {
    width: 75%;
    margin-left: 5em;
  }
}
@media (min-width: 768px) {
  nav .navcontact {
    width: 100%;
    height: 30px;
    background-color: var(--color-lightone);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
  }
  nav .navcontact p {
    padding: 0em 1em;
  }
  nav .navcontact i {
    color: var(--color-darkone);
  }
  nav .wrapper {
    position: relative;
  }
  nav .wrapper .navbar {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    height: 100%;
    top: 0;
    padding: 0;
    background: transparent;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  nav .wrapper .navbar a {
    font-size: 2rem;
  }
  nav .wrapper .burger {
    display: none;
  }
  .sectionhome {
    height: 100vh;
  }
  .sectionhome .info {
    height: 23%;
    margin-bottom: 0.5em;
  }
  .sectionhome .image {
    height: 70%;
    width: 100%;
  }
  .sectionhome .image img {
    height: 100%;
    -o-object-position: top;
       object-position: top;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sectionaboutus {
    padding: 6em 4em 2em 4em;
    padding: 1.2em;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .sectionaboutus .infomobile {
    padding: 8em 2em 2em 2em;
    width: 100%;
    height: 40%;
  }
  .sectionaboutus .infomobile .infocount {
    width: 30%;
    height: 100%;
    margin-bottom: 0;
  }
  .sectionaboutus .box {
    width: 100%;
    height: 34%;
    margin-bottom: 0;
  }
  .galleryclinic .swiper .swipperobject .obj .slidertext {
    bottom: 8%;
    height: 20%;
  }
  .galleryclinic .swiper .swipperobject .obj .slidertext h1 {
    font-size: 4rem;
  }
  .galleryclinic .swiper .swipperobject .obj .slidertext p {
    font-size: 2rem;
  }
  .galleryclinic .swiper .swiper-pagination {
    position: absolute;
    bottom: 4%;
  }
  .sectionoffer {
    padding: 8em 2em 2em 2em;
  }
  .sectionoffer .boxheading__heading {
    font-size: 4.2rem;
  }
  .sectionoffer .accordionbox .accordion .accordionhead:hover {
    background-color: var(--color-mediumone);
  }
  .sectionoffer .accordionbox .accordion .accordionhead:hover .accordionhead__heading {
    color: var(--color-white);
  }
  .sectionoffer .accordionbox .accordion .accordionhead:hover .accordionarrow {
    color: var(--color-white);
  }
  .sectionoffer .infooffer__text {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  nav .wrapper .logo a img {
    width: 23%;
    height: 23%;
  }
  .sectionaboutus .infomobile .infocount i {
    font-size: 4rem;
  }
  .sectionaboutus .infomobile .infocount__count {
    font-size: 6rem;
  }
  .sectionaboutus .infomobile .infocount h3 {
    font-size: 2.8rem;
    font-weight: 100;
  }
  .sectionaboutus .box__info--heading {
    font-size: 4.2rem;
  }
  .sectionaboutus .box__info--text {
    font-size: 2rem;
  }
  .sectionaboutus .box__img img {
    height: 75%;
  }
  .sectionteams {
    padding: 8em 2em 2em 2em;
  }
}
@media (min-width: 1200px) {
  .sectionhome {
    padding: 8em 2em 2em 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sectionhome .info {
    padding: 4em 2em;
    width: 40%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
    opacity: 0;
  }
  .sectionhome .info__heading--head {
    font-size: 6rem;
  }
  .sectionhome .info__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0.4em;
  }
  .sectionhome .info__text p {
    font-size: 1.6em;
  }
  .sectionhome .actioninfo {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .sectionhome .image {
    width: 55%;
    height: 100%;
    padding: 4em 1em;
  }
  .sectionhome .image img {
    width: 100%;
    height: 72%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 130%;
       object-position: 130%;
  }
  .sectionhome .image__info {
    width: 100%;
    height: 25%;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1em;
    border-bottom: 0.5em solid #396d7c;
  }
  .sectionhome .image__info .logo {
    position: absolute;
    top: 5%;
  }
  .sectionhome .image__info h1 {
    padding-bottom: 0;
    padding-top: 2em;
  }
  .sectionaboutus .infomobile .infocount {
    width: 25%;
  }
  .sectionaboutus .box__info {
    width: 60%;
  }
  .sectionaboutus .box__img {
    width: 27%;
  }
  .galleryclinic .swiper .swipperobject .obj .slidertext {
    width: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .sectionoffer .boxheading__heading {
    font-size: 4.6rem;
  }
  .sectionteams .teams {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80%;
  }
  .sectionteams .teams__img {
    height: 100%;
  }
  .sectionteams .teams__info {
    width: 38%;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sectionteams .teams__info i {
    top: 55%;
  }
  .sectionteams .teams__info p {
    margin-left: 9em;
  }
}
@media (min-width: 1400px) {
  nav .wrapper .logo {
    width: 27%;
    height: 27%;
  }
  nav .wrapper .logo a img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  nav .wrapper .navbar {
    width: 60%;
  }
  .sectionhome {
    padding: 4em 2em 2em 2em;
  }
  .sectionhome .info {
    padding-top: 6em;
  }
  .sectionhome .info__heading--head {
    font-size: 6.8rem;
  }
  .sectionhome .info__text {
    height: 70%;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
  }
  .sectionhome .image {
    position: relative;
  }
  .sectionhome .image img {
    width: 100%;
    height: 100%;
    -o-object-position: top;
       object-position: top;
    -o-object-position: 26%;
       object-position: 26%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sectionhome .image__info {
    position: absolute;
    padding: 0.2em;
    right: 0%;
    bottom: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 28%;
    background-color: var(--color-whiteBlend);
    border-bottom: none;
  }
  .sectionhome .image__info .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sectionaboutus .infomobile {
    width: 75%;
    height: 40%;
  }
  .sectionaboutus .infomobile .infocount {
    height: 100%;
  }
  .sectionaboutus .box {
    width: 75%;
  }
  .galleryclinic .swiper .swipperobject .obj .slidertext {
    width: 50%;
    left: 5%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .sectionoffer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectionoffer .boxheading {
    margin-bottom: 3em;
    width: 70%;
  }
  .sectionoffer .accordionbox {
    width: 70%;
  }
  .sectionteams .teams__img {
    width: 55%;
  }
  .sectionteams .teams__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
    -o-object-position: top;
       object-position: top;
  }
  .sectionteams .teams__info {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */