@media (min-width: 768px) {
	nav {
		.navcontact {
			width: 100%;
			height: 30px;
			background-color: var(--color-lightone);
			display: flex;
			align-items: center;
			justify-content: center;
			display: flex;
			p {
				padding: 0em 1em;
			}
			i {
				color: var(--color-darkone);
			}
		}
		.wrapper {
			position: relative;
			.navbar {
				position: relative;
				flex-direction: row;
				width: 70%;
				height: 100%;
				top: 0;
				padding: 0;
				background: transparent;
				transform: translateX(0);
				a {
					font-size: 2rem;
				}
			}
			.burger {
				display: none;
			}
		}
	}
}
