@media (min-width: 768px) {
	nav {
		.navcontact {
			width: 100%;
			height: 30px;
			background-color: var(--color-lightone);
			display: flex;
			align-items: center;
			justify-content: center;
			display: flex;
			p {
				padding: 0em 1em;
			}
			i {
				color: var(--color-darkone);
			}
		}
		.wrapper {
			position: relative;
			.navbar {
				position: relative;
				flex-direction: row;
				width: 90%;
				height: 100%;
				top: 0;
				padding: 0;
				background: transparent;
				transform: translateX(0);
				a {
					font-size: 2rem;
				}
			}
			.burger {
				display: none;
			}
		}
	}
	.sectionhome {
		height: 100vh;
		.info {
			height: 23%;
			margin-bottom: 0.5em;
			// z-index: 1;
		}
		.image {
			height: 70%;
			width: 100%;
			img {
				height: 100%;
				object-position: top;
				object-fit: cover;
			}
		}
	}
	.sectionaboutus {
		padding: 6em 4em 2em 4em;
		padding: 1.2em;
		height: 100vh;
		background-size: cover;
		background-position: center;
		.infomobile {
			// margin-top: 20em;
			// padding: 2em;
			padding: 8em 2em 2em 2em;
			width: 100%;
			height: 40%;
			.infocount {
				width: 30%;
				height: 100%;
				margin-bottom: 0;
			}
		}
		.box {
			width: 100%;
			height: 34%;
			margin-bottom: 0;
		}
	}

	.galleryclinic {
		.swiper {
			.swipperobject {
				.obj {
					.slidertext {
						bottom: 8%;
						height: 20%;
						h1 {
							font-size: 4rem;
						}
						p {
							font-size: 2rem;
						}
					}
				}
			}
			.swiper-pagination {
				position: absolute;
				bottom: 4%;
			}
		}
	}
	.sectionoffer {
		padding: 8em 2em 2em 2em;
		.boxheading {
			&__heading {
				font-size: 4.2rem;
			}
		}
		.accordionbox {
			.accordion {
				.accordionhead {
					&:hover {
						background-color: var(--color-mediumone);
					}
					&:hover .accordionhead__heading {
						color: var(--color-white);
					}
					&:hover .accordionarrow {
						color: var(--color-white);
					}
				}
			}
		}
		.infooffer {
			&__text {
				font-size: 2rem;
			}
		}
	}
	.sectionteams {
		padding: 8em 2em 2em 2em;
		.heading {
			h1 {
				font-size: 4.2rem;
			}
		}
		.swiper {
			width: 75%;
			height: 100%;
		}
	}

	.sectionopinions {
		.heading {
			margin-bottom: 1.5em;
			&__head {
				font-size: 4.2rem;
			}
		}
		.swiper {
			width: 100%;
			height: 300px;
		}
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.wrapper {
			width: 70%;
			.info {
				display: flex;
				flex-direction: row;
				border-bottom: 0;
				.address {
					&__box {
						flex-direction: column;
					}
				}
				.media {
					&__box {
						flex-direction: column;
						&--heading {
							width: 100%;
							text-align: center;
							font-size: 2.4rem;
							margin-bottom: 1em;
						}
						&--socialmedia {
							width: 100%;
							justify-content: space-between;
						}
					}
				}
			}
		}
		.years {
			padding-top: 2em;
			border-top: 0.04em solid var(--color-lightfour);
		}
	}
}
