@media (max-width: 576px) {
	nav {
		.wrapper {
			padding: 0em 1em;
			.logo {
				width: 50%;
				height: 50%;
				a {
					img {
						width: 50%;
						height: 50%;
					}
				}
			}
			.navbar {
				padding: 4em 0em 8em 0em;
				&__link {
					padding-bottom: 0.8em;
					font-size: 2.4rem;
				}
			}
		}
	}

	.sectionhome {
		padding: 4em 2em 2em 2em;
		height: 100vh;
		justify-content: space-between;
		.info {
			padding: 0.2em;
			height: 40%;
			// margin-bottom: 1em;
		}
		.image {
			height: 40%;
			img {
				width: 100%;
				height: 100%;
				object-position: top;
				// object-fit: cover;
			}
			&__info {
				h1 {
					font-size: 2rem;
				}
			}
		}
	}
	.sectionaboutus {
		padding: 1.2em;
		height: 100vh;
		background-size: cover;
		background-position: center;
		.infomobile {
			padding: 0;
			height: 50%;
			.infocount {
				height: 45%;
				padding: 1em;
				margin-bottom: 0;
				i {
					font-size: 1.8rem;
				}
				&__count {
					font-size: 2.8rem;
				}
				h3 {
					text-align: center;
					font-size: 1.4rem;
				}
			}
		}
		.box {
			padding: 0;
			margin-bottom: 0;
			height: 65%;
			width: 100%;
			&__info {
				padding: 0.8em;
				width: 47%;
				height: 75%;
				align-self: flex-end;
				&--heading {
					font-size: 2.4rem;
				}
				&--text {
					font-size: 1.4rem;
				}
			}
			&__img {
				width: 47%;
				height: 42%;
				align-self: flex-end;
				.btnabout {
					width: 100%;
					font-size: 1.2rem;
				}
			}
		}
	}

	.galleryclinic {
		.swiper {
			.swipperobject {
				.obj {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					img {
						height: 60vh;
					}
					.slidertext {
						position: relative;
						height: 30%;
						background: none;
						box-shadow: none;
					}
				}
			}
		}
	}

	.sectionoffer {
		padding: 5em 2em 1em 2em;
		.boxheading {
			&__heading {
				font-size: 2.2rem;
			}
		}
		.accordionbox {
			height: 65%;
		}
		.infooffer {
			height: 15%;
		}
	}
}
