@media (min-width: 1200px) {
	.sectionhome {
		padding: 8em 2em 2em 2em;
		flex-direction: row;
		.info {
			padding: 4em 2em;
			width: 40%;
			height: 100%;
			justify-content: space-between;
			transform: translateY(15%);
			opacity: 0;
			&__heading {
				&--head {
					font-size: 6rem;
				}
			}
			&__text {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-bottom: 0.4em;
				p {
					font-size: 1.6em;
				}
			}
		}
		.actioninfo {
			transform: translateY(0);
			opacity: 1;
		}
		.image {
			width: 55%;
			height: 100%;
			padding: 4em 1em;
			img {
				width: 100%;
				height: 72%;
				object-fit: cover;
				object-position: 130%;
				// object-position: left;
			}
			&__info {
				width: 100%;
				height: 25%;
				position: relative;
				align-items: center;
				justify-content: center;
				padding-bottom: 1em;
				border-bottom: 0.5em solid #396d7c;
				.logo {
					position: absolute;
					top: 5%;
				}
				h1 {
					padding-bottom: 0;
					padding-top: 2em;
				}
			}
		}
	}

	.sectionaboutus {
		.infomobile {
			.infocount {
				width: 25%;
			}
		}
		.box {
			&__info {
				width: 60%;
			}
			&__img {
				width: 27%;
			}
		}
	}

	.galleryclinic {
		.swiper {
			.swipperobject {
				.obj {
					.slidertext {
						width: 70%;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}

	.sectionoffer {
		.boxheading {
			&__heading {
				font-size: 4.6rem;
			}
		}
	}

	.sectionteams {
		.heading {
			h1 {
				font-size: 4.6rem;
			}
		}
		.teams {
			flex-direction: row;
			justify-content: space-between;
			height: 80%;
			width: 85%;
			&__img {
				height: 100%;
			}
			&__info {
				width: 38%;
				height: 100%;
				justify-content: flex-end;
				i {
					top: 55%;
				}
				p {
					margin-left: 9em;
				}
			}
		}
	}

	.sectioncontact {
		display: flex;
		flex-direction: column;
		align-items: center;
		.wrapper {
			width: 70%;
		}
	}
}
