@media (min-width: 1400px) {
	nav {
		.wrapper {
			.logo {
				width: 27%;
				height: 27%;
				a {
					img {
						height: 100%;
						object-fit: cover;
					}
				}
			}
			.navbar {
				width: 60%;
			}
		}
	}
}
