@media (min-width: 1400px) {
	nav {
		.wrapper {
			.logo {
				width: 27%;
				height: 27%;
				a {
					img {
						height: 100%;
						object-fit: cover;
					}
				}
			}
			.navbar {
				width: 60%;
			}
		}
	}

	.sectionhome {
		padding: 4em 2em 2em 2em;
		.info {
			&__heading {
				&--head {
					font-size: 6.8rem;
				}
			}
			&__text {
				height: 70%;
				align-self: center;
				justify-content: space-between;
				padding-bottom: 0;
			}
		}
		.image {
			padding-bottom: 6em;
			img {
				object-position: top;
			}
		}
	}
}
