@import './components';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-white: #ffffff;
	--color-whiteBlend: rgba(255, 255, 255, 0.7);
	--color-lightone: #dcf3ff;
	--color-lighttwo: #baf2ef;
	--color-lightthree: #a2d2df;
	--color-lightfour: #86cecb;
	--color-lightfourBlend: rgba(134, 206, 202, 0.6);
	--color-mediumone: #396d7c;
	--color-mediumtwo: #137a7f;
	--color-mediumthree: #257ca3;
	--color-darkone: #373b3e;
	--color-dark: #000000;
	--color-other: #9d1c5d;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.6rem;
}

nav {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	z-index: 100;
	.navcontact {
		display: none;
	}
	.wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0em 3em;
		background-color: var(--color-white);
		border-bottom: 0.04em solid var(--color-darkone);
		.logo {
			width: 50%;
			height: 50%;
			margin: 0.6em;
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				img {
					width: 30%;
					height: 30%;
				}
			}
		}

		.navbar {
			width: 100%;
			height: 100vh;
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			padding: 8em 0em 12em 0em;
			top: 60px;
			left: 0;
			background-color: var(--color-white);
			transform: translateX(100%);
			transition: transform 0.5s ease-in-out;
			&__link {
				position: relative;
				color: var(--color-darkone);
				font-size: 3rem;
				text-decoration: none;
				padding-bottom: 0.2em;
				transition: border-bottom 0.3s ease-in-out;
				display: flex;
				justify-content: center;
				&::before {
					position: absolute;
					content: '';
					border-bottom: 0.08em solid var(--color-mediumtwo);
					width: 0%;
					bottom: 0;
					transition: width 0.3s ease-in-out;
				}
				&:hover::before {
					width: 100%;
				}
				&:hover {
					color: var(--color-mediumtwo);
				}
			}
		}

		.actionnav {
			transform: translateX(0);
		}

		.burger {
			font-size: 3rem;
			padding: 0.4em;
			color: var(--color-mediumtwo);
			cursor: pointer;
			.hide {
				display: none;
			}
		}
	}
}

// ---HOME---

.sectionhome {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	overflow: hidden;
	.info {
		padding: 1em;
		width: 100%;
		height: 270px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1em;
		transform: translateY(50%);
		opacity: 0;
		transition: transform 1s, opacity 2s ease-in-out;
		&__heading {
			display: flex;
			flex-direction: column;
			// padding-bottom: 1em;
			.pink {
				color: var(--color-other);
			}
		}
		&__text {
			p {
				margin-top: 1em;
			}
		}
	}
	.actioninfo {
		transform: translateY(0);
		opacity: 1;
	}
	.image {
		position: relative;
		width: 100%;
		img {
			width: 100%;
			object-fit: cover;
		}
		&__info {
			position: absolute;
			padding: 0.6em;
			right: 5%;
			bottom: 0%;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			background-color: var(--color-whiteBlend);
			.logo {
				width: 30%;
			}
		}
	}
}

// ---ABOUT US---

.aboutus {
	height: 100%;
	padding: 0em;
	background-image: url('../img/hospital_buoldig.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	.infomobile {
		padding: 6em 2em 2em 2em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		div {
			width: 30%;
			height: 150px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: 1em;
			margin-bottom: 23em;
			align-items: center;
			border-top-left-radius: 2em;
			background-color: var(--color-lightfourBlend);
			box-shadow: 0.4em 0.4em 0em var(--color-lightfour);
			i {
				font-size: 2.8rem;
			}
			h2 {
				font-size: 4rem;
				font-weight: 100;
				color: var(--color-mediumtwo);
			}
			p {
				font-size: 1.8rem;
				font-weight: 700;
			}
		}
	}
	.box {
		padding: 1em;
		margin-bottom: 2em;
		width: 90%;
		height: 230px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-lightfourBlend);
		border-top-left-radius: 2em;
		box-shadow: 0.4em 0.4em 0em var(--color-lightfour);
		overflow: hidden;
		&__info {
			width: 60%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&--heading {
				font-weight: 100;
				font-size: 3.6rem;
			}
		}
		&__img {
			width: 35%;
			height: 100%;
			// padding: 1em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			img {
				width: 100%;
				object-fit: cover;
				border: 0.04em solid var(--color-mediumone);
				box-shadow: 0.2em 0.2em 0em var(--color-mediumone);
			}
		}
	}
}

@import './small';
@import './medium';
@import './large';
@import './xlarge';
@import './xxlarge';
